#container{ /* #usando id */
    background: rgb(235, 234, 231);
    max-width: 280px;
    padding: 10px;
    font-family: sans-serif;
    
}

.form-title{  /* #usando className */
    text-align: center;
    justify-items: center;
    background-color: rgb(255, 108, 3);
    width: 100%;
}

.form-label{ /* #usando className */
   font-family: sans-serif;
}

#button{
    padding: 10px;
    margin-top: 10px;
}

input{
    width: 100%;
    background-color:white;
}